<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Welcome on our platform!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                Your account is now active. You can log in here.
            </p>
        </td>
    </tr>

    <tr>
        <td style="text-align: center; padding-top: 10px;">
            <a href="{{frontUrl}}/login"
               style="background-color: #28a745; color: white; padding: 14px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;">
                LOG IN NOW
            </a>
        </td>
    </tr>

</table>