
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - ./client:/app/client
      - /app/node_modules
#    ports:
#      - "3000:3000"
    command: sh -c "npm install && npm run migration:run && npm run seed && npm run start:dev"



  web:
    image: nginx:alpine
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - ./client:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
