<table style="width: 100%; padding: 10px 35px; background-color: #db9292; box-sizing: border-box">
    <tr>
        <td style="font-size: 14px; text-align: center;">
            &copy; 2026 Programming School CRM. All rights reserved.
        </td>
    </tr>

</table>